.father{
    height: 700px;
    width: 1300px;
    background: silver;
    display: flex;
    align-items: center;
    flex-direction: column;

    }

.head{
    width: 100%;
    height: 200px;
    background: mediumpurple;
}
.bottom{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}
.block1{
    width: 80%;
    height: 500px;
    background: darkblue;
}
.block2{
    width: 20%;
    height: 500px;
    background: yellowgreen;
}

@media screen and (max-width: 800px) {
    .bottom{
        flex-direction: column;
    }
    .block1{
        width: 100%;
    }
    .block2{
        width: 100%;
        height: 200px;
    }
}
.df{
    display: flex;
    justify-content: center;
    align-items: center;
}
