.father{
    height: 700px;
    width: 1300px;
    background: silver;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.head{
    width: 100%;
    height: 200px;
    background: mediumpurple;
}
.bottom{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
}
.block1{
    width: 80%;
    height: 500px;
    background: darkblue;
    display: flex;
    flex-direction: column;
}
.box1{
    width: 100%;
    height: 250px;
    background: pink;
    display: flex;
    flex-direction: column;
}
.container{
    height: 250px;
    background: fuchsia;
    display: flex;
    justify-content: space-evenly;
    }
.box{
    width: 33.3%;
    height: 250px;
    background: red;
}
.block2{
    width: 20%;
    height: 500px;
    background: yellowgreen;
}

@media screen and (max-width: 800px) {
    .bottom{
        flex-direction: column;
    }
    .block1{
        width: 100%;
        height: 400px;
    }
    .box1{
        width: 100%;
        height: 300px;
    }
    .container{
        width: 100%;
        height: 100px;
    }
    .box{
        width: 23%;
        height: 100px;
    }
    .block2{
        width: 100%;
        height: 100px;
    }
}
.df{
    display: flex;
    justify-content: center;
    align-items: center;
}
